openapi: 3.0.1
info:
  title: Tinkoff Invest API
  termsOfService: https://www.tinkoff.ru/invest/disclaimers/basic-information/
  contact:
    email: al.a.volkov@tinkoff.ru
  version: '1.4'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://invest-public-api.tinkoff.ru/rest/
    description: Работа с биржей
  - url: https://sandbox-invest-public-api.tinkoff.ru/rest/
    description: Работа в песочнице
security:
  - Bearer: []
externalDocs:
  description: Документация Tinkoff Invest API
  url: https://tinkoff.github.io/investAPI/
tags:
  - name: InstrumentsService
  - name: MarketDataService
  - name: OperationsService
  - name: OrdersService
  - name: SandboxService
  - name: StopOrdersService
  - name: UsersService
paths:
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/BondBy:
    post:
      operationId: InstrumentsService_BondBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BondResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения облигации по её идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Bonds:
    post:
      operationId: InstrumentsService_Bonds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BondsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка облигаций.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Currencies:
    post:
      operationId: InstrumentsService_Currencies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CurrenciesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка валют.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/CurrencyBy:
    post:
      operationId: InstrumentsService_CurrencyBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CurrencyResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения валюты по её идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/EditFavorites:
    post:
      operationId: InstrumentsService_EditFavorites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EditFavoritesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EditFavoritesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод редактирования списка избранных инструментов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/EtfBy:
    post:
      operationId: InstrumentsService_EtfBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EtfResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения инвестиционного фонда по его идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Etfs:
    post:
      operationId: InstrumentsService_Etfs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EtfsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка инвестиционных фондов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/FindInstrument:
    post:
      operationId: InstrumentsService_FindInstrument
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1FindInstrumentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1FindInstrumentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод поиска инструмента.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/FutureBy:
    post:
      operationId: InstrumentsService_FutureBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1FutureResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения фьючерса по его идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Futures:
    post:
      operationId: InstrumentsService_Futures
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1FuturesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка фьючерсов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAccruedInterests:
    post:
      operationId: InstrumentsService_GetAccruedInterests
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetAccruedInterestsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAccruedInterestsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения накопленного купонного дохода по облигации.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAssetBy:
    post:
      operationId: InstrumentsService_GetAssetBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AssetRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssetResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения актива по его идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAssets:
    post:
      operationId: InstrumentsService_GetAssets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AssetsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssetsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка активов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetBondCoupons:
    post:
      operationId: InstrumentsService_GetBondCoupons
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetBondCouponsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetBondCouponsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения графика выплат купонов по облигации.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetBrandBy:
    post:
      operationId: InstrumentsService_GetBrandBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetBrandRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Brand'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения бренда по его идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetBrands:
    post:
      operationId: InstrumentsService_GetBrands
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetBrandsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetBrandsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка брендов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetCountries:
    post:
      operationId: InstrumentsService_GetCountries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetCountriesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetCountriesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка стран.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetDividends:
    post:
      operationId: InstrumentsService_GetDividends
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetDividendsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetDividendsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод для получения событий выплаты дивидендов по инструменту.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetFavorites:
    post:
      operationId: InstrumentsService_GetFavorites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetFavoritesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetFavoritesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка избранных инструментов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetFuturesMargin:
    post:
      operationId: InstrumentsService_GetFuturesMargin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetFuturesMarginRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetFuturesMarginResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения размера гарантийного обеспечения по фьючерсам.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetInstrumentBy:
    post:
      operationId: InstrumentsService_GetInstrumentBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1InstrumentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения основной информации об инструменте.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/OptionBy:
    post:
      operationId: InstrumentsService_OptionBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OptionResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения опциона по его идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Options:
    post:
      operationId: InstrumentsService_Options
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OptionsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Deprecated Метод получения списка опционов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/OptionsBy:
    post:
      operationId: InstrumentsService_OptionsBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1FilterOptionsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OptionsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка опционов.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/ShareBy:
    post:
      operationId: InstrumentsService_ShareBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ShareResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения акции по её идентификатору.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Shares:
    post:
      operationId: InstrumentsService_Shares
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SharesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка акций.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/TradingSchedules:
    post:
      operationId: InstrumentsService_TradingSchedules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1TradingSchedulesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TradingSchedulesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения расписания торгов торговых площадок.
      tags:
        - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetCandles:
    post:
      operationId: MarketDataService_GetCandles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetCandlesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetCandlesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса исторических свечей по инструменту.
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetClosePrices:
    post:
      operationId: MarketDataService_GetClosePrices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetClosePricesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetClosePricesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса цен закрытия торговой сессии по инструментам.
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetLastPrices:
    post:
      operationId: MarketDataService_GetLastPrices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetLastPricesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetLastPricesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса цен последних сделок по инструментам.
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetLastTrades:
    post:
      operationId: MarketDataService_GetLastTrades
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetLastTradesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetLastTradesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса обезличенных сделок за последний час.
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetOrderBook:
    post:
      operationId: MarketDataService_GetOrderBook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrderBookRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOrderBookResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения стакана по инструменту.
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetTradingStatus:
    post:
      operationId: MarketDataService_GetTradingStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetTradingStatusRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetTradingStatusResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса статуса торгов по инструментам.
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetTradingStatuses:
    post:
      operationId: MarketDataService_GetTradingStatuses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetTradingStatusesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetTradingStatusesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса статуса торгов по инструментам.
      tags:
        - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataStreamService/MarketDataServerSideStream:
    post:
      operationId: MarketDataStreamService_MarketDataServerSideStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1MarketDataServerSideStreamRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stream_result_of_v1MarketDataResponse'
          description: A successful response.(streaming responses)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Server-side стрим предоставления биржевой информации.
      tags:
        - MarketDataStreamService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataStreamService/MarketDataStream:
    post:
      operationId: MarketDataStreamService_MarketDataStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1MarketDataRequest'
        description: ' (streaming inputs)'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stream_result_of_v1MarketDataResponse'
          description: A successful response.(streaming responses)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Bi-directional стрим предоставления биржевой информации.
      tags:
        - MarketDataStreamService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetBrokerReport:
    post:
      operationId: OperationsService_GetBrokerReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BrokerReportRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BrokerReportResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения брокерского отчёта.
      tags:
        - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetDividendsForeignIssuer:
    post:
      operationId: OperationsService_GetDividendsForeignIssuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetDividendsForeignIssuerRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetDividendsForeignIssuerResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения отчёта "Справка о доходах за пределами РФ".
      tags:
        - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetOperations:
    post:
      operationId: OperationsService_GetOperations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1OperationsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OperationsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: >-
        Метод получения списка операций по счёту.При работе с данным методом
        необходимо учитывать

        [особенности взаимодействия](/investAPI/operations_problems) с данным
        методом.
      tags:
        - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetOperationsByCursor:
    post:
      operationId: OperationsService_GetOperationsByCursor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOperationsByCursorRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOperationsByCursorResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: >-
        Метод получения списка операций по счёту с пагинацией. При работе с
        данным методом необходимо учитывать

        [особенности взаимодействия](/investAPI/operations_problems) с данным
        методом.
      tags:
        - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetPortfolio:
    post:
      operationId: OperationsService_GetPortfolio
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PortfolioRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PortfolioResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения портфеля по счёту.
      tags:
        - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetPositions:
    post:
      operationId: OperationsService_GetPositions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PositionsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PositionsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка позиций по счёту.
      tags:
        - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetWithdrawLimits:
    post:
      operationId: OperationsService_GetWithdrawLimits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1WithdrawLimitsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WithdrawLimitsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения доступного остатка для вывода средств.
      tags:
        - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsStreamService/PortfolioStream:
    post:
      operationId: OperationsStreamService_PortfolioStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PortfolioStreamRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Stream_result_of_v1PortfolioStreamResponse
          description: A successful response.(streaming responses)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Server-side stream обновлений портфеля
      tags:
        - OperationsStreamService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsStreamService/PositionsStream:
    post:
      operationId: OperationsStreamService_PositionsStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PositionsStreamRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Stream_result_of_v1PositionsStreamResponse
          description: A successful response.(streaming responses)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Server-side stream обновлений информации по изменению позиций портфеля
      tags:
        - OperationsStreamService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/CancelOrder:
    post:
      operationId: OrdersService_CancelOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CancelOrderRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CancelOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод отмены биржевой заявки.
      tags:
        - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/GetOrderState:
    post:
      operationId: OrdersService_GetOrderState
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrderStateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OrderState'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения статуса торгового поручения.
      tags:
        - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/GetOrders:
    post:
      operationId: OrdersService_GetOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrdersRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOrdersResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка активных заявок по счёту.
      tags:
        - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/PostOrder:
    post:
      operationId: OrdersService_PostOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PostOrderRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PostOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод выставления заявки.
      tags:
        - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/ReplaceOrder:
    post:
      operationId: OrdersService_ReplaceOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ReplaceOrderRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PostOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод изменения выставленной заявки.
      tags:
        - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersStreamService/TradesStream:
    post:
      operationId: OrdersStreamService_TradesStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1TradesStreamRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stream_result_of_v1TradesStreamResponse'
          description: A successful response.(streaming responses)
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Stream сделок пользователя
      tags:
        - OrdersStreamService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/CancelSandboxOrder:
    post:
      operationId: SandboxService_CancelSandboxOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CancelOrderRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CancelOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод отмены торгового поручения в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/CloseSandboxAccount:
    post:
      operationId: SandboxService_CloseSandboxAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CloseSandboxAccountRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CloseSandboxAccountResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод закрытия счёта в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxAccounts:
    post:
      operationId: SandboxService_GetSandboxAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetAccountsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAccountsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения счетов в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxOperations:
    post:
      operationId: SandboxService_GetSandboxOperations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1OperationsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OperationsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения операций в песочнице по номеру счёта.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxOperationsByCursor:
    post:
      operationId: SandboxService_GetSandboxOperationsByCursor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOperationsByCursorRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOperationsByCursorResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения операций в песочнице по номеру счета с пагинацией.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxOrderState:
    post:
      operationId: SandboxService_GetSandboxOrderState
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrderStateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OrderState'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения статуса заявки в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxOrders:
    post:
      operationId: SandboxService_GetSandboxOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrdersRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOrdersResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка активных заявок по счёту в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxPortfolio:
    post:
      operationId: SandboxService_GetSandboxPortfolio
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PortfolioRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PortfolioResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения портфолио в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxPositions:
    post:
      operationId: SandboxService_GetSandboxPositions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PositionsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PositionsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения позиций по виртуальному счёту песочницы.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxWithdrawLimits:
    post:
      operationId: SandboxService_GetSandboxWithdrawLimits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1WithdrawLimitsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WithdrawLimitsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения доступного остатка для вывода средств в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/OpenSandboxAccount:
    post:
      operationId: SandboxService_OpenSandboxAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1OpenSandboxAccountRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OpenSandboxAccountResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод регистрации счёта в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/PostSandboxOrder:
    post:
      operationId: SandboxService_PostSandboxOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PostOrderRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PostOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод выставления торгового поручения в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/ReplaceSandboxOrder:
    post:
      operationId: SandboxService_ReplaceSandboxOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ReplaceOrderRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PostOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод изменения выставленной заявки.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/SandboxPayIn:
    post:
      operationId: SandboxService_SandboxPayIn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SandboxPayInRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SandboxPayInResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод пополнения счёта в песочнице.
      tags:
        - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.StopOrdersService/CancelStopOrder:
    post:
      operationId: StopOrdersService_CancelStopOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CancelStopOrderRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CancelStopOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод отмены стоп-заявки.
      tags:
        - StopOrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.StopOrdersService/GetStopOrders:
    post:
      operationId: StopOrdersService_GetStopOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetStopOrdersRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetStopOrdersResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка активных стоп заявок по счёту.
      tags:
        - StopOrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.StopOrdersService/PostStopOrder:
    post:
      operationId: StopOrdersService_PostStopOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PostStopOrderRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PostStopOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод выставления стоп-заявки.
      tags:
        - StopOrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.UsersService/GetAccounts:
    post:
      operationId: UsersService_GetAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetAccountsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAccountsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения счетов пользователя.
      tags:
        - UsersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.UsersService/GetInfo:
    post:
      operationId: UsersService_GetInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetInfoRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetInfoResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения информации о пользователе.
      tags:
        - UsersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.UsersService/GetMarginAttributes:
    post:
      operationId: UsersService_GetMarginAttributes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetMarginAttributesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetMarginAttributesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Расчёт маржинальных показателей по счёту.
      tags:
        - UsersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.UsersService/GetUserTariff:
    post:
      operationId: UsersService_GetUserTariff
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetUserTariffRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetUserTariffResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Запрос тарифа пользователя.
      tags:
        - UsersService
      x-codegen-request-body-name: body
components:
  schemas:
    PortfolioRequestCurrencyRequest:
      default: RUB
      enum:
        - RUB
        - USD
        - EUR
      type: string
    protobufAny:
      example:
        typeUrl: typeUrl
        value: value
      properties:
        typeUrl:
          type: string
        value:
          format: byte
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
      type: object
    rpcStatus:
      example:
        code: 1
        details:
          - typeUrl: typeUrl
            value: value
          - typeUrl: typeUrl
            value: value
        message: message
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
      type: object
    v1AccessLevel:
      default: ACCOUNT_ACCESS_LEVEL_UNSPECIFIED
      description: Уровень доступа к счёту.
      enum:
        - ACCOUNT_ACCESS_LEVEL_UNSPECIFIED
        - ACCOUNT_ACCESS_LEVEL_FULL_ACCESS
        - ACCOUNT_ACCESS_LEVEL_READ_ONLY
        - ACCOUNT_ACCESS_LEVEL_NO_ACCESS
      type: string
    v1Account:
      description: Информация о счёте.
      example:
        openedDate: 2000-01-23T04:56:07.000Z
        closedDate: 2000-01-23T04:56:07.000Z
        name: name
        id: id
      properties:
        id:
          description: Идентификатор счёта.
          type: string
        type:
          $ref: '#/components/schemas/v1AccountType'
        name:
          description: Название счёта.
          type: string
        status:
          $ref: '#/components/schemas/v1AccountStatus'
        openedDate:
          description: Дата открытия счёта в часовом поясе UTC.
          format: date-time
          type: string
        closedDate:
          description: Дата закрытия счёта в часовом поясе UTC.
          format: date-time
          type: string
        accessLevel:
          $ref: '#/components/schemas/v1AccessLevel'
      type: object
    v1AccountStatus:
      default: ACCOUNT_STATUS_UNSPECIFIED
      description: Статус счёта.
      enum:
        - ACCOUNT_STATUS_UNSPECIFIED
        - ACCOUNT_STATUS_NEW
        - ACCOUNT_STATUS_OPEN
        - ACCOUNT_STATUS_CLOSED
      type: string
    v1AccountSubscriptionStatus:
      description: Счет клиента.
      example:
        accountId: accountId
      properties:
        accountId:
          type: string
        subscriptionStatus:
          $ref: '#/components/schemas/v1PortfolioSubscriptionStatus'
      type: object
    v1AccountType:
      default: ACCOUNT_TYPE_UNSPECIFIED
      description: Тип счёта.
      enum:
        - ACCOUNT_TYPE_UNSPECIFIED
        - ACCOUNT_TYPE_TINKOFF
        - ACCOUNT_TYPE_TINKOFF_IIS
        - ACCOUNT_TYPE_INVEST_BOX
      type: string
    v1AccruedInterest:
      description: Операция начисления купонов.
      example:
        date: 2000-01-23T04:56:07.000Z
        valuePercent:
          nano: 6
          units: units
        nominal:
          nano: 6
          units: units
        value:
          nano: 6
          units: units
      properties:
        date:
          format: date-time
          type: string
        value:
          $ref: '#/components/schemas/v1Quotation'
        valuePercent:
          $ref: '#/components/schemas/v1Quotation'
        nominal:
          $ref: '#/components/schemas/v1Quotation'
      type: object
    v1Asset:
      description: Информация об активе.
      example:
        uid: uid
        instruments:
          - uid: uid
            classCode: classCode
            instrumentType: instrumentType
            ticker: ticker
            positionUid: positionUid
            figi: figi
            links:
              - instrumentUid: instrumentUid
                type: type
              - instrumentUid: instrumentUid
                type: type
          - uid: uid
            classCode: classCode
            instrumentType: instrumentType
            ticker: ticker
            positionUid: positionUid
            figi: figi
            links:
              - instrumentUid: instrumentUid
                type: type
              - instrumentUid: instrumentUid
                type: type
        name: name
      properties:
        uid:
          type: string
        type:
          $ref: '#/components/schemas/v1AssetType'
        name:
          type: string
        instruments:
          items:
            $ref: '#/components/schemas/v1AssetInstrument'
          type: array
      type: object
    v1AssetBond:
      description: Облигация.
      example:
        indexedNominalFlag: true
        couponQuantityPerYear: 0
        currentNominal:
          nano: 6
          units: units
        taxFreeFlag: true
        returnCondition: returnCondition
        collateralFlag: true
        stateRegDate: 2000-01-23T04:56:07.000Z
        issueSizePlan:
          nano: 6
          units: units
        borrowName: borrowName
        issueKind: issueKind
        placementDate: 2000-01-23T04:56:07.000Z
        nominal:
          nano: 6
          units: units
        amortizationFlag: true
        perpetualFlag: true
        maturityDate: 2000-01-23T04:56:07.000Z
        issueSize:
          nano: 6
          units: units
        interestKind: interestKind
        subordinatedFlag: true
        nominalCurrency: nominalCurrency
        floatingCouponFlag: true
        placementPrice:
          nano: 6
          units: units
      properties:
        currentNominal:
          $ref: '#/components/schemas/v1Quotation'
        borrowName:
          type: string
        issueSize:
          $ref: '#/components/schemas/v1Quotation'
        nominal:
          $ref: '#/components/schemas/v1Quotation'
        nominalCurrency:
          type: string
        issueKind:
          type: string
        interestKind:
          type: string
        couponQuantityPerYear:
          format: int32
          type: integer
        indexedNominalFlag:
          type: boolean
        subordinatedFlag:
          type: boolean
        collateralFlag:
          type: boolean
        taxFreeFlag:
          type: boolean
        amortizationFlag:
          type: boolean
        floatingCouponFlag:
          type: boolean
        perpetualFlag:
          type: boolean
        maturityDate:
          format: date-time
          type: string
        returnCondition:
          type: string
        stateRegDate:
          format: date-time
          type: string
        placementDate:
          format: date-time
          type: string
        placementPrice:
          $ref: '#/components/schemas/v1Quotation'
        issueSizePlan:
          $ref: '#/components/schemas/v1Quotation'
      type: object
    v1AssetClearingCertificate:
      description: Клиринговый сертификат участия.
      example:
        nominal:
          nano: 6
          units: units
        nominalCurrency: nominalCurrency
      properties:
        nominal:
          $ref: '#/components/schemas/v1Quotation'
        nominalCurrency:
          type: string
      type: object
    v1AssetCurrency:
      description: Валюта.
      example:
        baseCurrency: baseCurrency
      properties:
        baseCurrency:
          type: string
      type: object
    v1AssetEtf:
      description: Фонд.
      example:
        releasedDate: 2000-01-23T04:56:07.000Z
        fixedCommission:
          nano: 6
          units: units
        numShare:
          nano: 6
          units: units
        watermarkFlag: true
        description: description
        primaryIndexCompany: primaryIndexCompany
        inavCode: inavCode
        indexRecoveryPeriod:
          nano: 6
          units: units
        performanceFee:
          nano: 6
          units: units
        paymentType: paymentType
        managementType: managementType
        primaryIndexTrackingError:
          nano: 6
          units: units
        nominal:
          nano: 6
          units: units
        ucitsFlag: true
        expenseCommission:
          nano: 6
          units: units
        focusType: focusType
        primaryIndexDescription: primaryIndexDescription
        rebalancingPlan: rebalancingPlan
        hurdleRate:
          nano: 6
          units: units
        primaryIndex: primaryIndex
        leveragedFlag: true
        taxRate: taxRate
        issueKind: issueKind
        sellDiscount:
          nano: 6
          units: units
        rebalancingDates:
          - 2000-01-23T04:56:07.000Z
          - 2000-01-23T04:56:07.000Z
        rebalancingFreq: rebalancingFreq
        rebalancingFlag: true
        nominalCurrency: nominalCurrency
        divYieldFlag: true
        totalExpense:
          nano: 6
          units: units
        buyPremium:
          nano: 6
          units: units
      properties:
        totalExpense:
          $ref: '#/components/schemas/v1Quotation'
        hurdleRate:
          $ref: '#/components/schemas/v1Quotation'
        performanceFee:
          $ref: '#/components/schemas/v1Quotation'
        fixedCommission:
          $ref: '#/components/schemas/v1Quotation'
        paymentType:
          type: string
        watermarkFlag:
          type: boolean
        buyPremium:
          $ref: '#/components/schemas/v1Quotation'
        sellDiscount:
          $ref: '#/components/schemas/v1Quotation'
        rebalancingFlag:
          type: boolean
        rebalancingFreq:
          type: string
        managementType:
          type: string
        primaryIndex:
          type: string
        focusType:
          type: string
        leveragedFlag:
          type: boolean
        numShare:
          $ref: '#/components/schemas/v1Quotation'
        ucitsFlag:
          type: boolean
        releasedDate:
          format: date-time
          type: string
        description:
          type: string
        primaryIndexDescription:
          type: string
        primaryIndexCompany:
          type: string
        indexRecoveryPeriod:
          $ref: '#/components/schemas/v1Quotation'
        inavCode:
          type: string
        divYieldFlag:
          type: boolean
        expenseCommission:
          $ref: '#/components/schemas/v1Quotation'
        primaryIndexTrackingError:
          $ref: '#/components/schemas/v1Quotation'
        rebalancingPlan:
          type: string
        taxRate:
          type: string
        rebalancingDates:
          items:
            format: date-time
            type: string
          type: array
        issueKind:
          type: string
        nominal:
          $ref: '#/components/schemas/v1Quotation'
        nominalCurrency:
          type: string
      type: object
    v1AssetFull:
      example:
        cfi: cfi
        description: description
        uid: uid
        requiredTests:
          - requiredTests
          - requiredTests
        codeNsd: codeNsd
        deletedAt: 2000-01-23T04:56:07.000Z
        security:
          etf:
            releasedDate: 2000-01-23T04:56:07.000Z
            fixedCommission:
              nano: 6
              units: units
            numShare:
              nano: 6
              units: units
            watermarkFlag: true
            description: description
            primaryIndexCompany: primaryIndexCompany
            inavCode: inavCode
            indexRecoveryPeriod:
              nano: 6
              units: units
            performanceFee:
              nano: 6
              units: units
            paymentType: paymentType
            managementType: managementType
            primaryIndexTrackingError:
              nano: 6
              units: units
            nominal:
              nano: 6
              units: units
            ucitsFlag: true
            expenseCommission:
              nano: 6
              units: units
            focusType: focusType
            primaryIndexDescription: primaryIndexDescription
            rebalancingPlan: rebalancingPlan
            hurdleRate:
              nano: 6
              units: units
            primaryIndex: primaryIndex
            leveragedFlag: true
            taxRate: taxRate
            issueKind: issueKind
            sellDiscount:
              nano: 6
              units: units
            rebalancingDates:
              - 2000-01-23T04:56:07.000Z
              - 2000-01-23T04:56:07.000Z
            rebalancingFreq: rebalancingFreq
            rebalancingFlag: true
            nominalCurrency: nominalCurrency
            divYieldFlag: true
            totalExpense:
              nano: 6
              units: units
            buyPremium:
              nano: 6
              units: units
          clearingCertificate:
            nominal:
              nano: 6
              units: units
            nominalCurrency: nominalCurrency
          share:
            totalFloat:
              nano: 6
              units: units
            dividendRate:
              nano: 6
              units: units
            registryDate: 2000-01-23T04:56:07.000Z
            primaryIndex: primaryIndex
            preferredShareType: preferredShareType
            issueSizePlan:
              nano: 6
              units: units
            issueKind: issueKind
            placementDate: 2000-01-23T04:56:07.000Z
            nominal:
              nano: 6
              units: units
            issueSize:
              nano: 6
              units: units
            nominalCurrency: nominalCurrency
            divYieldFlag: true
            represIsin: represIsin
            ipoDate: 2000-01-23T04:56:07.000Z
          type: type
          bond:
            indexedNominalFlag: true
            couponQuantityPerYear: 0
            currentNominal:
              nano: 6
              units: units
            taxFreeFlag: true
            returnCondition: returnCondition
            collateralFlag: true
            stateRegDate: 2000-01-23T04:56:07.000Z
            issueSizePlan:
              nano: 6
              units: units
            borrowName: borrowName
            issueKind: issueKind
            placementDate: 2000-01-23T04:56:07.000Z
            nominal:
              nano: 6
              units: units
            amortizationFlag: true
            perpetualFlag: true
            maturityDate: 2000-01-23T04:56:07.000Z
            issueSize:
              nano: 6
              units: units
            interestKind: interestKind
            subordinatedFlag: true
            nominalCurrency: nominalCurrency
            floatingCouponFlag: true
            placementPrice:
              nano: 6
              units: units
          sp:
            issueSizePlan:
              nano: 6
              units: units
            borrowName: borrowName
            issueKind: issueKind
            placementDate: 2000-01-23T04:56:07.000Z
            nominal:
              nano: 6
              units: units
            maturityDate: 2000-01-23T04:56:07.000Z
            logicPortfolio: logicPortfolio
            safetyBarrier:
              nano: 6
              units: units
            basicAsset: basicAsset
            issueSize:
              nano: 6
              units: units
            nominalCurrency: nominalCurrency
          isin: isin
        instruments:
          - uid: uid
            classCode: classCode
            instrumentType: instrumentType
            ticker: ticker
            positionUid: positionUid
            figi: figi
            links:
              - instrumentUid: instrumentUid
                type: type
              - instrumentUid: instrumentUid
                type: type
          - uid: uid
            classCode: classCode
            instrumentType: instrumentType
            ticker: ticker
            positionUid: positionUid
            figi: figi
            links:
              - instrumentUid: instrumentUid
                type: type
              - instrumentUid: instrumentUid
                type: type
        gosRegCode: gosRegCode
        name: name
        brCodeName: brCodeName
        currency:
          baseCurrency: baseCurrency
        brCode: brCode
        brand:
          uid: uid
          name: name
          description: description
          company: company
          sector: sector
          countryOfRiskName: countryOfRiskName
          info: info
          countryOfRisk: countryOfRisk
        nameBrief: nameBrief
        status: status
        updatedAt: 2000-01-23T04:56:07.000Z
      properties:
        uid:
          type: string
        type:
          $ref: '#/components/schemas/v1AssetType'
        name:
          type: string
        nameBrief:
          type: string
        description:
          type: string
        deletedAt:
          format: date-time
          type: string
        requiredTests:
          items:
            type: string
          type: array
        currency:
          $ref: '#/components/schemas/v1AssetCurrency'
        security:
          $ref: '#/components/schemas/v1AssetSecurity'
        gosRegCode:
          type: string
        cfi:
          type: string
        codeNsd:
          type: string
        status:
          type: string
        brand:
          $ref: '#/components/schemas/v1Brand'
        updatedAt:
          format: date-time
          type: string
        brCode:
          type: string
        brCodeName:
          type: string
        instruments:
          items:
            $ref: '#/components/schemas/v1AssetInstrument'
          type: array
      type: object
    v1AssetInstrument:
      description: Идентификаторы инструмента.
      example:
        uid: uid
        classCode: classCode
        instrumentType: instrumentType
        ticker: ticker
        positionUid: positionUid
        figi: figi
        links:
          - instrumentUid: instrumentUid
            type: type
          - instrumentUid: instrumentUid
            type: type
      properties:
        uid:
          type: string
        figi:
          type: string
        instrumentType:
          type: string
        ticker:
          type: string
        classCode:
          type: string
        links:
          items:
            $ref: '#/components/schemas/v1InstrumentLink'
          type: array
        instrumentKind:
          $ref: '#/components/schemas/v1InstrumentType'
        positionUid:
          type: string
      type: object
    v1AssetRequest:
      description: Запрос актива по идентификатору.
      properties:
        id:
          type: string
      type: object
    v1AssetResponse:
      description: Данные по активу.
      example:
        asset:
          cfi: cfi
          description: description
          uid: uid
          requiredTests:
            - requiredTests
            - requiredTests
          codeNsd: codeNsd
          deletedAt: 2000-01-23T04:56:07.000Z
          security:
            etf:
              releasedDate: 2000-01-23T04:56:07.000Z
              fixedCommission:
                nano: 6
                units: units
              numShare:
                nano: 6
                units: units
              watermarkFlag: true
              description: description
              primaryIndexCompany: primaryIndexCompany
              inavCode: inavCode
              indexRecoveryPeriod:
                nano: 6
                units: units
              performanceFee:
                nano: 6
                units: units
              paymentType: paymentType
              managementType: managementType
              primaryIndexTrackingError:
                nano: 6
                units: units
              nominal:
                nano: 6
                units: units
              ucitsFlag: true
              expenseCommission:
                nano: 6
                units: units
              focusType: focusType
              primaryIndexDescription: primaryIndexDescription
              rebalancingPlan: rebalancingPlan
              hurdleRate:
                nano: 6
                units: units
              primaryIndex: primaryIndex
              leveragedFlag: true
              taxRate: taxRate
              issueKind: issueKind
              sellDiscount:
                nano: 6
                units: units
              rebalancingDates:
                - 2000-01-23T04:56:07.000Z
                - 2000-01-23T04:56:07.000Z
              rebalancingFreq: rebalancingFreq
              rebalancingFlag: true
              nominalCurrency: nominalCurrency
              divYieldFlag: true
              totalExpense:
                nano: 6
                units: units
              buyPremium:
                nano: 6
                units: units
            clearingCertificate:
              nominal:
                nano: 6
                units: units
              nominalCurrency: nominalCurrency
            share:
              totalFloat:
                nano: 6
                units: units
              dividendRate:
                nano: 6
                units: units
              registryDate: 2000-01-23T04:56:07.000Z
              primaryIndex: primaryIndex
              preferredShareType: preferredShareType
              issueSizePlan:
                nano: 6
                units: units
              issueKind: issueKind
              placementDate: 2000-01-23T04:56:07.000Z
              nominal:
                nano: 6
                units: units
              issueSize:
                nano: 6
                units: units
              nominalCurrency: nominalCurrency
              divYieldFlag: true
              represIsin: represIsin
              ipoDate: 2000-01-23T04:56:07.000Z
            type: type
            bond:
              indexedNominalFlag: true
              couponQuantityPerYear: 0
              currentNominal:
                nano: 6
                units: units
              taxFreeFlag: true
              returnCondition: returnCondition
              collateralFlag: true
              stateRegDate: 2000-01-23T04:56:07.000Z
              issueSizePlan:
                nano: 6
                units: units
              borrowName: borrowName
              issueKind: issueKind
              placementDate: 2000-01-23T04:56:07.000Z
              nominal:
                nano: 6
                units: units
              amortizationFlag: true
              perpetualFlag: true
              maturityDate: 2000-01-23T04:56:07.000Z
              issueSize:
                nano: 6
                units: units
              interestKind: interestKind
              subordinatedFlag: true
              nominalCurrency: nominalCurrency
              floatingCouponFlag: true
              placementPrice:
                nano: 6
                units: units
            sp:
              issueSizePlan:
                nano: 6
                units: units
              borrowName: borrowName
              issueKind: issueKind
              placementDate: 2000-01-23T04:56:07.000Z
              nominal:
                nano: 6
                units: units
              maturityDate: 2000-01-23T04:56:07.000Z
              logicPortfolio: logicPortfolio
              safetyBarrier:
                nano: 6
                units: units
              basicAsset: basicAsset
              issueSize:
                nano: 6
                units: units
              nominalCurrency: nominalCurrency
            isin: isin
          instruments:
            - uid: uid
              classCode: classCode
              instrumentType: instrumentType
              ticker: ticker
              positionUid: positionUid
              figi: figi
              links:
                - instrumentUid: instrumentUid
                  type: type
                - instrumentUid: instrumentUid
                  type: type
            - uid: uid
              classCode: classCode
              instrumentType: instrumentType
              ticker: ticker
              positionUid: positionUid
              figi: figi
              links:
                - instrumentUid: instrumentUid
                  type: type
                - instrumentUid: instrumentUid
                  type: type
          gosRegCode: gosRegCode
          name: name
          brCodeName: brCodeName
          currency:
            baseCurrency: baseCurrency
          brCode: brCode
          brand:
            uid: uid
            name: name
            description: description
            company: company
            sector: sector
            countryOfRiskName: countryOfRiskName
            info: info
            countryOfRisk: countryOfRisk
          nameBrief: nameBrief
          status: status
          updatedAt: 2000-01-23T04:56:07.000Z
      properties:
        asset:
          $ref: '#/components/schemas/v1AssetFull'
      type: object
    v1AssetSecurity:
      description: Ценная бумага.
      example:
        etf:
          releasedDate: 2000-01-23T04:56:07.000Z
          fixedCommission:
            nano: 6
            units: units
          numShare:
            nano: 6
            units: units
          watermarkFlag: true
          description: description
          primaryIndexCompany: primaryIndexCompany
          inavCode: inavCode
          indexRecoveryPeriod:
            nano: 6
            units: units
          performanceFee:
            nano: 6
            units: units
          paymentType: paymentType
          managementType: managementType
          primaryIndexTrackingError:
            nano: 6
            units: units
          nominal:
            nano: 6
            units: units
          ucitsFlag: true
          expenseCommission:
            nano: 6
            units: units
          focusType: focusType
          primaryIndexDescription: primaryIndexDescription
          rebalancingPlan: rebalancingPlan
          hurdleRate:
            nano: 6
            units: units
          primaryIndex: primaryIndex
          leveragedFlag: true
          taxRate: taxRate
          issueKind: issueKind
          sellDiscount:
            nano: 6
            units: units
          rebalancingDates:
            - 2000-01-23T04:56:07.000Z
            - 2000-01-23T04:56:07.000Z
          rebalancingFreq: rebalancingFreq
          rebalancingFlag: true
          nominalCurrency: nominalCurrency
          divYieldFlag: true
          totalExpense:
            nano: 6
            units: units
          buyPremium:
            nano: 6
            units: units
        clearingCertificate:
          nominal:
            nano: 6
            units: units
          nominalCurrency: nominalCurrency
        share:
          totalFloat:
            nano: 6
            units: units
          dividendRate:
            nano: 6
            units: units
          registryDate: 2000-01-23T04:56:07.000Z
          primaryIndex: primaryIndex
          preferredShareType: preferredShareType
          issueSizePlan:
            nano: 6
            units: units
          issueKind: issueKind
          placementDate: 2000-01-23T04:56:07.000Z
          nominal:
            nano: 6
            units: units
          issueSize:
            nano: 6
            units: units
          nominalCurrency: nominalCurrency
          divYieldFlag: true
          represIsin: represIsin
          ipoDate: 2000-01-23T04:56:07.000Z
        type: type
        bond:
          indexedNominalFlag: true
          couponQuantityPerYear: 0
          currentNominal:
            nano: 6
            units: units
          taxFreeFlag: true
          returnCondition: returnCondition
          collateralFlag: true
          stateRegDate: 2000-01-23T04:56:07.000Z
          issueSizePlan:
            nano: 6
            units: units
          borrowName: borrowName
          issueKind: issueKind
          placementDate: 2000-01-23T04:56:07.000Z
          nominal:
            nano: 6
            units: units
          amortizationFlag: true
          perpetualFlag: true
          maturityDate: 2000-01-23T04:56:07.000Z
          issueSize:
            nano: 6
            units: units
          interestKind: interestKind
          subordinatedFlag: true
          nominalCurrency: nominalCurrency
          floatingCouponFlag: true
          placementPrice:
            nano: 6
            units: units
        sp:
          issueSizePlan:
            nano: 6
            units: units
          borrowName: borrowName
          issueKind: issueKind
          placementDate: 2000-01-23T04:56:07.000Z
          nominal:
            nano: 6
            units: units
          maturityDate: 2000-01-23T04:56:07.000Z
          logicPortfolio: logicPortfolio
          safetyBarrier:
            nano: 6
            units: units
          basicAsset: basicAsset
          issueSize:
            nano: 6
            units: units
          nominalCurrency: nominalCurrency
        isin: isin
      properties:
        isin:
          type: string
        type:
          type: string
        instrumentKind:
          $ref: '#/components/schemas/v1InstrumentType'
        share:
          $ref: '#/components/schemas/v1AssetShare'
        bond:
          $ref: '#/components/schemas/v1AssetBond'
        sp:
          $ref: '#/components/schemas/v1AssetStructuredProduct'
        etf:
          $ref: '#/components/schemas/v1AssetEtf'
        clearingCertificate:
          $ref: '#/components/schemas/v1AssetClearingCertificate'
      type: object
    v1AssetShare:
      description: Акция.
      example:
        totalFloat:
          nano: 6
          units: units
        dividendRate:
          nano: 6
          units: units
        registryDate: 2000-01-23T04:56:07.000Z
        primaryIndex: primaryIndex
        preferredShareType: preferredShareType
        issueSizePlan:
          nano: 6
          units: units
        issueKind: issueKind
        placementDate: 2000-01-23T04:56:07.000Z
        nominal:
          nano: 6
          units: units
        issueSize:
          nano: 6
          units: units
        nominalCurrency: nominalCurrency
        divYieldFlag: true
        represIsin: represIsin
        ipoDate: 2000-01-23T04:56:07.000Z
      properties:
        type:
          $ref: '#/components/schemas/v1ShareType'
        issueSize:
          $ref: '#/components/schemas/v1Quotation'
        nominal:
          $ref: '#/components/schemas/v1Quotation'
        nominalCurrency:
          type: string
        primaryIndex:
          type: string
        dividendRate:
          $ref: '#/components/schemas/v1Quotation'
        preferredShareType:
          type: string
        ipoDate:
          format: date-time
          type: string
        registryDate:
          format: date-time
          type: string
        divYieldFlag:
          type: boolean
        issueKind:
          type: string
        placementDate:
          format: date-time
          type: string
        represIsin:
          type: string
        issueSizePlan:
          $ref: '#/components/schemas/v1Quotation'
        totalFloat:
          $ref: '#/components/schemas/v1Quotation'
      type: object
    v1AssetStructuredProduct:
      description: Структурная нота.
      example:
        issueSizePlan:
          nano: 6
          units: units
        borrowName: borrowName
        issueKind: issueKind
        placementDate: 2000-01-23T04:56:07.000Z
        nominal:
          nano: 6
          units: units
        maturityDate: 2000-01-23T04:56:07.000Z
        logicPortfolio: logicPortfolio
        safetyBarrier:
          nano: 6
          units: units
        basicAsset: basicAsset
        issueSize:
          nano: 6
          units: units
        nominalCurrency: nominalCurrency
      properties:
        borrowName:
          type: string
        nominal:
          $ref: '#/components/schemas/v1Quotation'
        nominalCurrency:
          type: string
        type:
          $ref: '#/components/schemas/v1StructuredProductType'
        logicPortfolio:
          type: string
        assetType:
          $ref: '#/components/schemas/v1AssetType'
        basicAsset:
          type: string
        safetyBarrier:
          $ref: '#/components/schemas/v1Quotation'
        maturityDate:
          format: date-time
          type: string
        issueSizePlan:
          $ref: '#/components/schemas/v1Quotation'
        issueSize:
          $ref: '#/components/schemas/v1Quotation'
        placementDate:
          format: date-time
          type: string
        issueKind:
          type: string
      type: object
    v1AssetType:
      default: ASSET_TYPE_UNSPECIFIED
      description: Тип актива.
      enum:
        - ASSET_TYPE_UNSPECIFIED
        - ASSET_TYPE_CURRENCY
        - ASSET_TYPE_COMMODITY
        - ASSET_TYPE_INDEX
        - ASSET_TYPE_SECURITY
      type: string
    v1AssetsRequest:
      description: Запрос списка активов.
      properties:
        instrumentType:
          $ref: '#/components/schemas/v1InstrumentType'
      type: object
    v1AssetsResponse:
      description: Список активов.
      example:
        assets:
          - uid: uid
            instruments:
              - uid: uid
                classCode: classCode
                instrumentType: instrumentType
                ticker: ticker
                positionUid: positionUid
                figi: figi
                links:
                  - instrumentUid: instrumentUid
                    type: type
                  - instrumentUid: instrumentUid
                    type: type
              - uid: uid
                classCode: classCode
                instrumentType: instrumentType
                ticker: ticker
                positionUid: positionUid
                figi: figi
                links:
                  - instrumentUid: instrumentUid
                    type: type
                  - instrumentUid: instrumentUid
                    type: type
            name: name
          - uid: uid
            instruments:
              - uid: uid
                classCode: classCode
                instrumentType: instrumentType
                ticker: ticker
                positionUid: positionUid
                figi: figi
                links:
                  - instrumentUid: instrumentUid
                    type: type
                  - instrumentUid: instrumentUid
                    type: type
              - uid: uid
                classCode: classCode
                instrumentType: instrumentType
                ticker: ticker
                positionUid: positionUid
                figi: figi
                links:
                  - instrumentUid: instrumentUid
                    type: type
                  - instrumentUid: instrumentUid
                    type: type
            name: name
      properties:
        assets:
          items:
            $ref: '#/components/schemas/v1Asset'
          type: array
      type: object
    v1Bond:
      description: Объект передачи информации об облигации.
      example:
        countryOfRisk: countryOfRisk
        blockedTcaFlag: true
        maturityDate: 2000-01-23T04:56:07.000Z
        sellAvailableFlag: true
        first1dayCandleDate: 2000-01-23T04:56:07.000Z
        placementPrice:
          nano: 5
          currency: currency
          units: units
        sector: sector
        liquidityFlag: true
        forIisFlag: true
        positionUid: positionUid
        shortEnabledFlag: true
        dshort:
          nano: 6
          units: units
        name: name
        exchange: exchange
        subordinatedFlag: true
        floatingCouponFlag: true
        figi: figi
        dshortMin:
          nano: 6
          units: units
        lot: 0
        uid: uid
        dlong:
          nano: 6
          units: units
        nominal:
          nano: 5
          currency: currency
          units: units
        currency: currency
        aciValue:
          nano: 5
          currency: currency
          units: units
        buyAvailableFlag: true
        weekendFlag: true
        classCode: classCode
        ticker: ticker
        couponQuantityPerYear: 1
        forQualInvestorFlag: true
        initialNominal:
          nano: 5
          currency: currency
          units: units
        apiTradeAvailableFlag: true
        dlongMin:
          nano: 6
          units: units
        kshort:
          nano: 6
          units: units
        first1minCandleDate: 2000-01-23T04:56:07.000Z
        stateRegDate: 2000-01-23T04:56:07.000Z
        issueSizePlan: issueSizePlan
        minPriceIncrement:
          nano: 6
          units: units
        otcFlag: true
        klong:
          nano: 6
          units: units
[...]
