openapi: 3.0.1
info:
  title: Tinkoff Invest API
  termsOfService: https://www.tinkoff.ru/invest/disclaimers/basic-information/
  contact:
    email: al.a.volkov@tinkoff.ru
  version: '1.0.7'
externalDocs:
  description: Документация Tinkoff Invest API
  url: https://tinkoff.github.io/investAPI/
servers:
- url: https://invest-public-api.tinkoff.ru/rest/
  description: "Работа с биржей"
security:
- Bearer: []
tags:
- name: InstrumentsService
- name: MarketDataService
- name: OperationsService
- name: OrdersService
- name: SandboxService
- name: StopOrdersService
- name: UsersService
paths:
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/BondBy:
    post:
      operationId: InstrumentsService_BondBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BondResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения облигации по её идентификатору.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Bonds:
    post:
      operationId: InstrumentsService_Bonds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BondsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка облигаций.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Currencies:
    post:
      operationId: InstrumentsService_Currencies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CurrenciesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка валют.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/CurrencyBy:
    post:
      operationId: InstrumentsService_CurrencyBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CurrencyResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения валюты по её идентификатору.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/EditFavorites:
    post:
      operationId: InstrumentsService_EditFavorites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1EditFavoritesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EditFavoritesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод редактирования избранных инструментов.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/EtfBy:
    post:
      operationId: InstrumentsService_EtfBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EtfResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения инвестиционного фонда по его идентификатору.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Etfs:
    post:
      operationId: InstrumentsService_Etfs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1EtfsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка инвестиционных фондов.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/FutureBy:
    post:
      operationId: InstrumentsService_FutureBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1FutureResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения фьючерса по его идентификатору.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Futures:
    post:
      operationId: InstrumentsService_Futures
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1FuturesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка фьючерсов.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAccruedInterests:
    post:
      operationId: InstrumentsService_GetAccruedInterests
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetAccruedInterestsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAccruedInterestsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения накопленного купонного дохода по облигации.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAssetBy:
    post:
      operationId: InstrumentsService_GetAssetBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AssetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssetResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения актива по его идентификатору.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetAssets:
    post:
      operationId: InstrumentsService_GetAssets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AssetsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssetsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка активов.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetBondCoupons:
    post:
      operationId: InstrumentsService_GetBondCoupons
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetBondCouponsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetBondCouponsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения графика выплат купонов по облигации
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetDividends:
    post:
      operationId: InstrumentsService_GetDividends
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetDividendsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetDividendsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод для получения событий выплаты дивидендов по инструменту.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetFavorites:
    post:
      operationId: InstrumentsService_GetFavorites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetFavoritesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetFavoritesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения избранных инструментов.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetFuturesMargin:
    post:
      operationId: InstrumentsService_GetFuturesMargin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetFuturesMarginRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetFuturesMarginResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения размера гарантийного обеспечения по фьючерсам.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/GetInstrumentBy:
    post:
      operationId: InstrumentsService_GetInstrumentBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1InstrumentResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения основной информации об инструменте.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/ShareBy:
    post:
      operationId: InstrumentsService_ShareBy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ShareResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения акции по её идентификатору.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/Shares:
    post:
      operationId: InstrumentsService_Shares
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1InstrumentsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SharesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка акций.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.InstrumentsService/TradingSchedules:
    post:
      operationId: InstrumentsService_TradingSchedules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1TradingSchedulesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TradingSchedulesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения расписания торгов торговых площадок.
      tags:
      - InstrumentsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetCandles:
    post:
      operationId: MarketDataService_GetCandles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetCandlesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetCandlesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса исторических свечей по инструменту.
      tags:
      - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetLastPrices:
    post:
      operationId: MarketDataService_GetLastPrices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetLastPricesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetLastPricesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса последних цен по инструментам.
      tags:
      - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetLastTrades:
    post:
      operationId: MarketDataService_GetLastTrades
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetLastTradesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetLastTradesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса последних обезличенных сделок по инструменту.
      tags:
      - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetOrderBook:
    post:
      operationId: MarketDataService_GetOrderBook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrderBookRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOrderBookResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения стакана по инструменту.
      tags:
      - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.MarketDataService/GetTradingStatus:
    post:
      operationId: MarketDataService_GetTradingStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetTradingStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetTradingStatusResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод запроса статуса торгов по инструментам.
      tags:
      - MarketDataService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetBrokerReport:
    post:
      operationId: OperationsService_GetBrokerReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BrokerReportRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BrokerReportResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения брокерского отчёта.
      tags:
      - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetDividendsForeignIssuer:
    post:
      operationId: OperationsService_GetDividendsForeignIssuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetDividendsForeignIssuerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetDividendsForeignIssuerResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения отчёта "Справка о доходах за пределами РФ".
      tags:
      - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetOperations:
    post:
      operationId: OperationsService_GetOperations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1OperationsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OperationsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка операций по счёту.
      tags:
      - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetPortfolio:
    post:
      operationId: OperationsService_GetPortfolio
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PortfolioRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PortfolioResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения портфеля по счёту.
      tags:
      - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetPositions:
    post:
      operationId: OperationsService_GetPositions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PositionsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PositionsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка позиций по счёту.
      tags:
      - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OperationsService/GetWithdrawLimits:
    post:
      operationId: OperationsService_GetWithdrawLimits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1WithdrawLimitsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1WithdrawLimitsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения доступного остатка для вывода средств.
      tags:
      - OperationsService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/CancelOrder:
    post:
      operationId: OrdersService_CancelOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CancelOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CancelOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод отмены биржевой заявки.
      tags:
      - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/GetOrderState:
    post:
      operationId: OrdersService_GetOrderState
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrderStateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OrderState'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения статуса торгового поручения.
      tags:
      - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/GetOrders:
    post:
      operationId: OrdersService_GetOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrdersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOrdersResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка активных заявок по счёту.
      tags:
      - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.OrdersService/PostOrder:
    post:
      operationId: OrdersService_PostOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PostOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PostOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод выставления заявки.
      tags:
      - OrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/CancelSandboxOrder:
    post:
      operationId: SandboxService_CancelSandboxOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CancelOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CancelOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод отмены торгового поручения в песочнице.
      tags:
      - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/CloseSandboxAccount:
    post:
      operationId: SandboxService_CloseSandboxAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CloseSandboxAccountRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CloseSandboxAccountResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод закрытия счёта в песочнице.
      tags:
      - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxAccounts:
    post:
      operationId: SandboxService_GetSandboxAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetAccountsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAccountsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения счетов в песочнице.
      tags:
      - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxOperations:
    post:
      operationId: SandboxService_GetSandboxOperations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1OperationsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OperationsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения операций в песочнице по номеру счёта.
      tags:
      - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxOrderState:
    post:
      operationId: SandboxService_GetSandboxOrderState
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrderStateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OrderState'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения статуса заявки в песочнице.
      tags:
      - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxOrders:
    post:
      operationId: SandboxService_GetSandboxOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetOrdersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOrdersResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка активных заявок по счёту в песочнице.
      tags:
      - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxPortfolio:
    post:
      operationId: SandboxService_GetSandboxPortfolio
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PortfolioRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PortfolioResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения портфолио в песочнице.
      tags:
      - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/GetSandboxPositions:
    post:
      operationId: SandboxService_GetSandboxPositions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PositionsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PositionsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения позиций по виртуальному счёту песочницы.
      tags:
      - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/OpenSandboxAccount:
    post:
      operationId: SandboxService_OpenSandboxAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1OpenSandboxAccountRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OpenSandboxAccountResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод регистрации счёта в песочнице.
      tags:
      - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/PostSandboxOrder:
    post:
      operationId: SandboxService_PostSandboxOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PostOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PostOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод выставления торгового поручения в песочнице.
      tags:
      - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.SandboxService/SandboxPayIn:
    post:
      operationId: SandboxService_SandboxPayIn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SandboxPayInRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SandboxPayInResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод пополнения счёта в песочнице.
      tags:
      - SandboxService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.StopOrdersService/CancelStopOrder:
    post:
      operationId: StopOrdersService_CancelStopOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CancelStopOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CancelStopOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод отмены стоп-заявки.
      tags:
      - StopOrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.StopOrdersService/GetStopOrders:
    post:
      operationId: StopOrdersService_GetStopOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetStopOrdersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetStopOrdersResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения списка активных стоп заявок по счёту.
      tags:
      - StopOrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.StopOrdersService/PostStopOrder:
    post:
      operationId: StopOrdersService_PostStopOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PostStopOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PostStopOrderResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод выставления стоп-заявки.
      tags:
      - StopOrdersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.UsersService/GetAccounts:
    post:
      operationId: UsersService_GetAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetAccountsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAccountsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения счетов пользователя.
      tags:
      - UsersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.UsersService/GetInfo:
    post:
      operationId: UsersService_GetInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetInfoRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetInfoResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Метод получения информации о пользователе.
      tags:
      - UsersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.UsersService/GetMarginAttributes:
    post:
      operationId: UsersService_GetMarginAttributes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetMarginAttributesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetMarginAttributesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Расчёт маржинальных показателей по счёту.
      tags:
      - UsersService
      x-codegen-request-body-name: body
  /tinkoff.public.invest.api.contract.v1.UsersService/GetUserTariff:
    post:
      operationId: UsersService_GetUserTariff
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetUserTariffRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetUserTariffResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Запрос тарифа пользователя.
      tags:
      - UsersService
      x-codegen-request-body-name: body
components:
  schemas:
    protobufAny:
      additionalProperties:
        type: object
      example:
        '@type': '@type'
      properties:
        '@type':
          type: string
      type: object
    rpcStatus:
      example:
        code: 1
        details:
        - '@type': '@type'
        - '@type': '@type'
        message: message
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
      type: object
    v1AccessLevel:
      default: ACCOUNT_ACCESS_LEVEL_UNSPECIFIED
      description: Уровень доступа к счёту.
      enum:
      - ACCOUNT_ACCESS_LEVEL_UNSPECIFIED
      - ACCOUNT_ACCESS_LEVEL_FULL_ACCESS
      - ACCOUNT_ACCESS_LEVEL_READ_ONLY
      - ACCOUNT_ACCESS_LEVEL_NO_ACCESS
      type: string
    v1Account:
      description: Информация о счёте.
      example:
        openedDate: 2000-01-23T04:56:07.000+00:00
        closedDate: 2000-01-23T04:56:07.000+00:00
        name: name
        id: id
      properties:
        id:
          description: Идентификатор счёта.
          type: string
        type:
          $ref: '#/components/schemas/v1AccountType'
        name:
          description: Название счёта.
          type: string
        status:
          $ref: '#/components/schemas/v1AccountStatus'
        openedDate:
          description: Дата открытия счёта в часовом поясе UTC.
          format: date-time
          type: string
        closedDate:
          description: Дата закрытия счёта в часовом поясе UTC.
          format: date-time
          type: string
        accessLevel:
          $ref: '#/components/schemas/v1AccessLevel'
      type: object
    v1AccountStatus:
      default: ACCOUNT_STATUS_UNSPECIFIED
      description: Статус счёта.
      enum:
      - ACCOUNT_STATUS_UNSPECIFIED
      - ACCOUNT_STATUS_NEW
      - ACCOUNT_STATUS_OPEN
      - ACCOUNT_STATUS_CLOSED
      type: string
    v1AccountType:
      default: ACCOUNT_TYPE_UNSPECIFIED
      description: Тип счёта.
      enum:
      - ACCOUNT_TYPE_UNSPECIFIED
      - ACCOUNT_TYPE_TINKOFF
      - ACCOUNT_TYPE_TINKOFF_IIS
      - ACCOUNT_TYPE_INVEST_BOX
      type: string
    v1AccruedInterest:
      description: Операция начисления купонов.
      example:
        date: 2000-01-23T04:56:07.000+00:00
        valuePercent:
          nano: 6
          units: units
        nominal:
          nano: 6
          units: units
        value:
          nano: 6
          units: units
      properties:
        date:
          format: date-time
          type: string
        value:
          $ref: '#/components/schemas/v1Quotation'
        valuePercent:
          $ref: '#/components/schemas/v1Quotation'
        nominal:
          $ref: '#/components/schemas/v1Quotation'
      type: object
    v1Asset:
      description: Информация об активе.
      example:
        uid: uid
        instruments:
        - uid: uid
          classCode: classCode
          instrumentType: instrumentType
          ticker: ticker
          figi: figi
          links:
          - instrumentUid: instrumentUid
            type: type
          - instrumentUid: instrumentUid
            type: type
        - uid: uid
          classCode: classCode
          instrumentType: instrumentType
          ticker: ticker
          figi: figi
          links:
          - instrumentUid: instrumentUid
            type: type
          - instrumentUid: instrumentUid
            type: type
        name: name
      properties:
        uid:
          type: string
        type:
          $ref: '#/components/schemas/v1AssetType'
        name:
          type: string
        instruments:
          items:
            $ref: '#/components/schemas/v1AssetInstrument'
          type: array
      type: object
    v1AssetBond:
      description: Облигация.
      example:
        indexedNominalFlag: true
        couponQuantityPerYear: 0
        currentNominal:
          nano: 6
          units: units
        taxFreeFlag: true
        returnCondition: returnCondition
        collateralFlag: true
        stateRegDate: 2000-01-23T04:56:07.000+00:00
        issueSizePlan:
          nano: 6
          units: units
        borrowName: borrowName
        issueKind: issueKind
        placementDate: 2000-01-23T04:56:07.000+00:00
        nominal:
          nano: 6
          units: units
        amortizationFlag: true
        perpetualFlag: true
        maturityDate: 2000-01-23T04:56:07.000+00:00
        issueSize:
          nano: 6
          units: units
        interestKind: interestKind
        subordinatedFlag: true
        nominalCurrency: nominalCurrency
        floatingCouponFlag: true
        placementPrice:
          nano: 6
          units: units
      properties:
        currentNominal:
          $ref: '#/components/schemas/v1Quotation'
        borrowName:
          type: string
        issueSize:
          $ref: '#/components/schemas/v1Quotation'
        nominal:
          $ref: '#/components/schemas/v1Quotation'
        nominalCurrency:
          type: string
        issueKind:
          type: string
        interestKind:
          type: string
        couponQuantityPerYear:
          format: int32
          type: integer
        indexedNominalFlag:
          type: boolean
        subordinatedFlag:
          type: boolean
        collateralFlag:
          type: boolean
        taxFreeFlag:
          type: boolean
        amortizationFlag:
          type: boolean
        floatingCouponFlag:
          type: boolean
        perpetualFlag:
          type: boolean
        maturityDate:
          format: date-time
          type: string
        returnCondition:
          type: string
        stateRegDate:
          format: date-time
          type: string
        placementDate:
          format: date-time
          type: string
        placementPrice:
          $ref: '#/components/schemas/v1Quotation'
        issueSizePlan:
          $ref: '#/components/schemas/v1Quotation'
      type: object
    v1AssetClearingCertificate:
      description: Клиринговый сертификат участия.
      example:
        nominal:
          nano: 6
          units: units
        nominalCurrency: nominalCurrency
      properties:
        nominal:
          $ref: '#/components/schemas/v1Quotation'
        nominalCurrency:
          type: string
      type: object
    v1AssetCurrency:
      description: Валюта.
      example:
        baseCurrency: baseCurrency
      properties:
        baseCurrency:
          type: string
      type: object
    v1AssetEtf:
      description: Фонд.
      example:
        releasedDate: 2000-01-23T04:56:07.000+00:00
        fixedCommission:
          nano: 6
          units: units
        numShare:
          nano: 6
          units: units
        watermarkFlag: true
        description: description
        primaryIndexCompany: primaryIndexCompany
        inavCode: inavCode
        indexRecoveryPeriod:
          nano: 6
          units: units
        performanceFee:
          nano: 6
          units: units
        paymentType: paymentType
        managementType: managementType
        primaryIndexTrackingError:
          nano: 6
          units: units
        nominal:
          nano: 6
          units: units
        ucitsFlag: true
        expenseCommission:
          nano: 6
          units: units
        focusType: focusType
        primaryIndexDescription: primaryIndexDescription
        rebalancingPlan: rebalancingPlan
        hurdleRate:
          nano: 6
          units: units
        primaryIndex: primaryIndex
        leveragedFlag: true
        taxRate: taxRate
        issueKind: issueKind
        sellDiscount:
          nano: 6
          units: units
        rebalancingDates:
        - 2000-01-23T04:56:07.000+00:00
        - 2000-01-23T04:56:07.000+00:00
        rebalancingFreq: rebalancingFreq
        rebalancingFlag: true
        nominalCurrency: nominalCurrency
        divYieldFlag: true
        totalExpense:
          nano: 6
          units: units
        buyPremium:
          nano: 6
          units: units
      properties:
        totalExpense:
          $ref: '#/components/schemas/v1Quotation'
        hurdleRate:
          $ref: '#/components/schemas/v1Quotation'
        performanceFee:
          $ref: '#/components/schemas/v1Quotation'
        fixedCommission:
          $ref: '#/components/schemas/v1Quotation'
        paymentType:
          type: string
        watermarkFlag:
          type: boolean
        buyPremium:
          $ref: '#/components/schemas/v1Quotation'
        sellDiscount:
          $ref: '#/components/schemas/v1Quotation'
        rebalancingFlag:
          type: boolean
        rebalancingFreq:
          type: string
        managementType:
          type: string
        primaryIndex:
          type: string
        focusType:
          type: string
        leveragedFlag:
          type: boolean
        numShare:
          $ref: '#/components/schemas/v1Quotation'
        ucitsFlag:
          type: boolean
        releasedDate:
          format: date-time
          type: string
        description:
          type: string
        primaryIndexDescription:
          type: string
        primaryIndexCompany:
          type: string
        indexRecoveryPeriod:
          $ref: '#/components/schemas/v1Quotation'
        inavCode:
          type: string
        divYieldFlag:
          type: boolean
        expenseCommission:
          $ref: '#/components/schemas/v1Quotation'
        primaryIndexTrackingError:
          $ref: '#/components/schemas/v1Quotation'
        rebalancingPlan:
          type: string
        taxRate:
          type: string
        rebalancingDates:
          items:
            format: date-time
            type: string
          type: array
        issueKind:
          type: string
        nominal:
          $ref: '#/components/schemas/v1Quotation'
        nominalCurrency:
          type: string
      type: object
    v1AssetFull:
      example:
        cfi: cfi
        description: description
        uid: uid
        requiredTests:
        - requiredTests
        - requiredTests
        codeNsd: codeNsd
        deletedAt: 2000-01-23T04:56:07.000+00:00
        security:
          etf:
            releasedDate: 2000-01-23T04:56:07.000+00:00
            fixedCommission:
              nano: 6
              units: units
            numShare:
              nano: 6
              units: units
            watermarkFlag: true
            description: description
            primaryIndexCompany: primaryIndexCompany
            inavCode: inavCode
            indexRecoveryPeriod:
              nano: 6
              units: units
            performanceFee:
              nano: 6
              units: units
            paymentType: paymentType
            managementType: managementType
            primaryIndexTrackingError:
              nano: 6
              units: units
            nominal:
              nano: 6
              units: units
            ucitsFlag: true
            expenseCommission:
              nano: 6
              units: units
            focusType: focusType
            primaryIndexDescription: primaryIndexDescription
            rebalancingPlan: rebalancingPlan
            hurdleRate:
              nano: 6
              units: units
            primaryIndex: primaryIndex
            leveragedFlag: true
            taxRate: taxRate
            issueKind: issueKind
            sellDiscount:
              nano: 6
              units: units
            rebalancingDates:
            - 2000-01-23T04:56:07.000+00:00
            - 2000-01-23T04:56:07.000+00:00
            rebalancingFreq: rebalancingFreq
            rebalancingFlag: true
            nominalCurrency: nominalCurrency
            divYieldFlag: true
            totalExpense:
              nano: 6
              units: units
            buyPremium:
              nano: 6
              units: units
          clearingCertificate:
            nominal:
              nano: 6
              units: units
            nominalCurrency: nominalCurrency
          share:
            totalFloat:
              nano: 6
              units: units
            dividendRate:
              nano: 6
              units: units
            registryDate: 2000-01-23T04:56:07.000+00:00
            primaryIndex: primaryIndex
            preferredShareType: preferredShareType
            issueSizePlan:
              nano: 6
              units: units
            issueKind: issueKind
            placementDate: 2000-01-23T04:56:07.000+00:00
            nominal:
              nano: 6
              units: units
            issueSize:
              nano: 6
              units: units
            nominalCurrency: nominalCurrency
            divYieldFlag: true
            represIsin: represIsin
            ipoDate: 2000-01-23T04:56:07.000+00:00
          type: type
          bond:
            indexedNominalFlag: true
            couponQuantityPerYear: 0
            currentNominal:
              nano: 6
              units: units
            taxFreeFlag: true
            returnCondition: returnCondition
            collateralFlag: true
            stateRegDate: 2000-01-23T04:56:07.000+00:00
            issueSizePlan:
              nano: 6
              units: units
            borrowName: borrowName
            issueKind: issueKind
            placementDate: 2000-01-23T04:56:07.000+00:00
            nominal:
              nano: 6
              units: units
            amortizationFlag: true
            perpetualFlag: true
            maturityDate: 2000-01-23T04:56:07.000+00:00
            issueSize:
              nano: 6
              units: units
            interestKind: interestKind
            subordinatedFlag: true
            nominalCurrency: nominalCurrency
            floatingCouponFlag: true
            placementPrice:
              nano: 6
              units: units
          sp:
            issueSizePlan:
              nano: 6
              units: units
            borrowName: borrowName
            issueKind: issueKind
            placementDate: 2000-01-23T04:56:07.000+00:00
            nominal:
              nano: 6
              units: units
            maturityDate: 2000-01-23T04:56:07.000+00:00
            logicPortfolio: logicPortfolio
            safetyBarrier:
              nano: 6
              units: units
            basicAsset: basicAsset
            issueSize:
              nano: 6
              units: units
            nominalCurrency: nominalCurrency
          isin: isin
        instruments:
        - uid: uid
          classCode: classCode
          instrumentType: instrumentType
          ticker: ticker
          figi: figi
          links:
          - instrumentUid: instrumentUid
            type: type
          - instrumentUid: instrumentUid
            type: type
        - uid: uid
          classCode: classCode
          instrumentType: instrumentType
          ticker: ticker
          figi: figi
          links:
          - instrumentUid: instrumentUid
            type: type
          - instrumentUid: instrumentUid
            type: type
        gosRegCode: gosRegCode
        name: name
        brCodeName: brCodeName
        currency:
          baseCurrency: baseCurrency
        brCode: brCode
        brand:
          uid: uid
          name: name
          description: description
          company: company
          sector: sector
          countryOfRiskName: countryOfRiskName
          info: info
          countryOfRisk: countryOfRisk
        nameBrief: nameBrief
        status: status
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        uid:
          type: string
        type:
          $ref: '#/components/schemas/v1AssetType'
        name:
          type: string
        nameBrief:
          type: string
        description:
          type: string
        deletedAt:
          format: date-time
          type: string
        requiredTests:
          items:
            type: string
          type: array
        currency:
          $ref: '#/components/schemas/v1AssetCurrency'
        security:
          $ref: '#/components/schemas/v1AssetSecurity'
        gosRegCode:
          type: string
        cfi:
          type: string
        codeNsd:
          type: string
        status:
          type: string
        brand:
          $ref: '#/components/schemas/v1Brand'
        updatedAt:
          format: date-time
          type: string
        brCode:
          type: string
        brCodeName:
          type: string
        instruments:
          items:
            $ref: '#/components/schemas/v1AssetInstrument'
          type: array
      type: object
    v1AssetInstrument:
      description: Идентификаторы инструмента.
      example:
        uid: uid
        classCode: classCode
        instrumentType: instrumentType
        ticker: ticker
        figi: figi
        links:
        - instrumentUid: instrumentUid
          type: type
        - instrumentUid: instrumentUid
          type: type
      properties:
        uid:
          type: string
        figi:
          type: string
        instrumentType:
          type: string
        ticker:
          type: string
        classCode:
          type: string
        links:
          items:
            $ref: '#/components/schemas/v1InstrumentLink'
          type: array
      type: object
    v1AssetRequest:
      description: Запрос актива по идентификатору.
      properties:
        id:
          type: string
      type: object
    v1AssetResponse:
      description: Данные по активу.
      example:
        asset:
          cfi: cfi
          description: description
          uid: uid
          requiredTests:
          - requiredTests
          - requiredTests
          codeNsd: codeNsd
          deletedAt: 2000-01-23T04:56:07.000+00:00
          security:
            etf:
              releasedDate: 2000-01-23T04:56:07.000+00:00
              fixedCommission:
                nano: 6
                units: units
              numShare:
                nano: 6
                units: units
              watermarkFlag: true
              description: description
              primaryIndexCompany: primaryIndexCompany
              inavCode: inavCode
              indexRecoveryPeriod:
                nano: 6
                units: units
              performanceFee:
                nano: 6
                units: units
              paymentType: paymentType
              managementType: managementType
              primaryIndexTrackingError:
                nano: 6
                units: units
              nominal:
                nano: 6
                units: units
              ucitsFlag: true
              expenseCommission:
                nano: 6
                units: units
              focusType: focusType
              primaryIndexDescription: primaryIndexDescription
              rebalancingPlan: rebalancingPlan
              hurdleRate:
                nano: 6
                units: units
              primaryIndex: primaryIndex
              leveragedFlag: true
              taxRate: taxRate
              issueKind: issueKind
              sellDiscount:
                nano: 6
                units: units
              rebalancingDates:
              - 2000-01-23T04:56:07.000+00:00
              - 2000-01-23T04:56:07.000+00:00
              rebalancingFreq: rebalancingFreq
              rebalancingFlag: true
              nominalCurrency: nominalCurrency
              divYieldFlag: true
              totalExpense:
                nano: 6
                units: units
              buyPremium:
                nano: 6
                units: units
            clearingCertificate:
              nominal:
                nano: 6
                units: units
              nominalCurrency: nominalCurrency
            share:
              totalFloat:
                nano: 6
                units: units
              dividendRate:
                nano: 6
                units: units
              registryDate: 2000-01-23T04:56:07.000+00:00
              primaryIndex: primaryIndex
              preferredShareType: preferredShareType
              issueSizePlan:
                nano: 6
                units: units
              issueKind: issueKind
              placementDate: 2000-01-23T04:56:07.000+00:00
              nominal:
                nano: 6
                units: units
              issueSize:
                nano: 6
                units: units
              nominalCurrency: nominalCurrency
              divYieldFlag: true
              represIsin: represIsin
              ipoDate: 2000-01-23T04:56:07.000+00:00
            type: type
            bond:
              indexedNominalFlag: true
              couponQuantityPerYear: 0
              currentNominal:
                nano: 6
                units: units
              taxFreeFlag: true
              returnCondition: returnCondition
              collateralFlag: true
              stateRegDate: 2000-01-23T04:56:07.000+00:00
              issueSizePlan:
                nano: 6
                units: units
              borrowName: borrowName
              issueKind: issueKind
              placementDate: 2000-01-23T04:56:07.000+00:00
              nominal:
                nano: 6
                units: units
              amortizationFlag: true
              perpetualFlag: true
              maturityDate: 2000-01-23T04:56:07.000+00:00
              issueSize:
                nano: 6
                units: units
              interestKind: interestKind
              subordinatedFlag: true
              nominalCurrency: nominalCurrency
              floatingCouponFlag: true
              placementPrice:
                nano: 6
                units: units
            sp:
              issueSizePlan:
                nano: 6
                units: units
              borrowName: borrowName
              issueKind: issueKind
              placementDate: 2000-01-23T04:56:07.000+00:00
              nominal:
                nano: 6
                units: units
              maturityDate: 2000-01-23T04:56:07.000+00:00
              logicPortfolio: logicPortfolio
              safetyBarrier:
                nano: 6
                units: units
              basicAsset: basicAsset
              issueSize:
                nano: 6
                units: units
              nominalCurrency: nominalCurrency
            isin: isin
          instruments:
          - uid: uid
            classCode: classCode
            instrumentType: instrumentType
            ticker: ticker
            figi: figi
            links:
            - instrumentUid: instrumentUid
              type: type
            - instrumentUid: instrumentUid
              type: type
          - uid: uid
            classCode: classCode
            instrumentType: instrumentType
            ticker: ticker
            figi: figi
            links:
            - instrumentUid: instrumentUid
              type: type
            - instrumentUid: instrumentUid
              type: type
          gosRegCode: gosRegCode
          name: name
          brCodeName: brCodeName
          currency:
            baseCurrency: baseCurrency
          brCode: brCode
          brand:
            uid: uid
            name: name
            description: description
            company: company
            sector: sector
            countryOfRiskName: countryOfRiskName
            info: info
            countryOfRisk: countryOfRisk
          nameBrief: nameBrief
          status: status
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        asset:
          $ref: '#/components/schemas/v1AssetFull'
      type: object
    v1AssetSecurity:
      description: Ценная бумага.
      example:
        etf:
          releasedDate: 2000-01-23T04:56:07.000+00:00
          fixedCommission:
            nano: 6
            units: units
          numShare:
            nano: 6
            units: units
          watermarkFlag: true
          description: description
          primaryIndexCompany: primaryIndexCompany
          inavCode: inavCode
          indexRecoveryPeriod:
            nano: 6
            units: units
          performanceFee:
            nano: 6
            units: units
          paymentType: paymentType
          managementType: managementType
          primaryIndexTrackingError:
            nano: 6
            units: units
          nominal:
            nano: 6
            units: units
          ucitsFlag: true
          expenseCommission:
            nano: 6
            units: units
          focusType: focusType
          primaryIndexDescription: primaryIndexDescription
          rebalancingPlan: rebalancingPlan
          hurdleRate:
            nano: 6
            units: units
          primaryIndex: primaryIndex
          leveragedFlag: true
          taxRate: taxRate
          issueKind: issueKind
          sellDiscount:
            nano: 6
            units: units
          rebalancingDates:
          - 2000-01-23T04:56:07.000+00:00
          - 2000-01-23T04:56:07.000+00:00
          rebalancingFreq: rebalancingFreq
          rebalancingFlag: true
          nominalCurrency: nominalCurrency
          divYieldFlag: true
          totalExpense:
            nano: 6
            units: units
          buyPremium:
            nano: 6
            units: units
        clearingCertificate:
          nominal:
            nano: 6
            units: units
          nominalCurrency: nominalCurrency
        share:
          totalFloat:
            nano: 6
            units: units
          dividendRate:
            nano: 6
            units: units
          registryDate: 2000-01-23T04:56:07.000+00:00
          primaryIndex: primaryIndex
          preferredShareType: preferredShareType
          issueSizePlan:
            nano: 6
            units: units
          issueKind: issueKind
          placementDate: 2000-01-23T04:56:07.000+00:00
          nominal:
            nano: 6
            units: units
          issueSize:
            nano: 6
            units: units
          nominalCurrency: nominalCurrency
          divYieldFlag: true
          represIsin: represIsin
          ipoDate: 2000-01-23T04:56:07.000+00:00
        type: type
        bond:
          indexedNominalFlag: true
          couponQuantityPerYear: 0
          currentNominal:
            nano: 6
            units: units
          taxFreeFlag: true
          returnCondition: returnCondition
          collateralFlag: true
          stateRegDate: 2000-01-23T04:56:07.000+00:00
          issueSizePlan:
            nano: 6
            units: units
          borrowName: borrowName
          issueKind: issueKind
          placementDate: 2000-01-23T04:56:07.000+00:00
          nominal:
            nano: 6
            units: units
          amortizationFlag: true
          perpetualFlag: true
          maturityDate: 2000-01-23T04:56:07.000+00:00
          issueSize:
            nano: 6
            units: units
          interestKind: interestKind
          subordinatedFlag: true
          nominalCurrency: nominalCurrency
          floatingCouponFlag: true
          placementPrice:
            nano: 6
            units: units
        sp:
          issueSizePlan:
            nano: 6
            units: units
          borrowName: borrowName
          issueKind: issueKind
          placementDate: 2000-01-23T04:56:07.000+00:00
          nominal:
            nano: 6
            units: units
          maturityDate: 2000-01-23T04:56:07.000+00:00
          logicPortfolio: logicPortfolio
          safetyBarrier:
            nano: 6
            units: units
          basicAsset: basicAsset
          issueSize:
            nano: 6
            units: units
          nominalCurrency: nominalCurrency
        isin: isin
      properties:
        isin:
          type: string
        type:
          type: string
        share:
          $ref: '#/components/schemas/v1AssetShare'
        bond:
          $ref: '#/components/schemas/v1AssetBond'
        sp:
          $ref: '#/components/schemas/v1AssetStructuredProduct'
        etf:
          $ref: '#/components/schemas/v1AssetEtf'
        clearingCertificate:
          $ref: '#/components/schemas/v1AssetClearingCertificate'
      type: object
    v1AssetShare:
      description: Акция.
      example:
        totalFloat:
          nano: 6
          units: units
        dividendRate:
          nano: 6
          units: units
        registryDate: 2000-01-23T04:56:07.000+00:00
        primaryIndex: primaryIndex
        preferredShareType: preferredShareType
        issueSizePlan:
          nano: 6
          units: units
        issueKind: issueKind
        placementDate: 2000-01-23T04:56:07.000+00:00
        nominal:
          nano: 6
          units: units
        issueSize:
          nano: 6
          units: units
        nominalCurrency: nominalCurrency
        divYieldFlag: true
        represIsin: represIsin
        ipoDate: 2000-01-23T04:56:07.000+00:00
      properties:
        type:
          $ref: '#/components/schemas/v1ShareType'
        issueSize:
          $ref: '#/components/schemas/v1Quotation'
        nominal:
          $ref: '#/components/schemas/v1Quotation'
        nominalCurrency:
          type: string
        primaryIndex:
          type: string
        dividendRate:
          $ref: '#/components/schemas/v1Quotation'
        preferredShareType:
          type: string
        ipoDate:
          format: date-time
          type: string
        registryDate:
          format: date-time
          type: string
        divYieldFlag:
          type: boolean
        issueKind:
          type: string
        placementDate:
          format: date-time
          type: string
        represIsin:
          type: string
        issueSizePlan:
          $ref: '#/components/schemas/v1Quotation'
        totalFloat:
          $ref: '#/components/schemas/v1Quotation'
      type: object
    v1AssetStructuredProduct:
      description: Структурная нота.
      example:
        issueSizePlan:
          nano: 6
          units: units
        borrowName: borrowName
        issueKind: issueKind
        placementDate: 2000-01-23T04:56:07.000+00:00
        nominal:
          nano: 6
          units: units
        maturityDate: 2000-01-23T04:56:07.000+00:00
        logicPortfolio: logicPortfolio
        safetyBarrier:
          nano: 6
          units: units
        basicAsset: basicAsset
        issueSize:
          nano: 6
          units: units
        nominalCurrency: nominalCurrency
      properties:
        borrowName:
          type: string
        nominal:
          $ref: '#/components/schemas/v1Quotation'
        nominalCurrency:
          type: string
        type:
          $ref: '#/components/schemas/v1StructuredProductType'
        logicPortfolio:
          type: string
        assetType:
          $ref: '#/components/schemas/v1AssetType'
        basicAsset:
          type: string
        safetyBarrier:
          $ref: '#/components/schemas/v1Quotation'
        maturityDate:
          format: date-time
          type: string
        issueSizePlan:
          $ref: '#/components/schemas/v1Quotation'
        issueSize:
          $ref: '#/components/schemas/v1Quotation'
        placementDate:
          format: date-time
          type: string
        issueKind:
          type: string
      type: object
    v1AssetType:
      default: ASSET_TYPE_UNSPECIFIED
      description: Тип актива.
      enum:
      - ASSET_TYPE_UNSPECIFIED
      - ASSET_TYPE_CURRENCY
      - ASSET_TYPE_COMMODITY
      - ASSET_TYPE_INDEX
      - ASSET_TYPE_SECURITY
      type: string
    v1AssetsRequest:
      description: Запрос списка активов.
      type: object
    v1AssetsResponse:
      description: Список активов.
      example:
        assets:
        - uid: uid
          instruments:
          - uid: uid
            classCode: classCode
            instrumentType: instrumentType
            ticker: ticker
            figi: figi
            links:
            - instrumentUid: instrumentUid
              type: type
            - instrumentUid: instrumentUid
              type: type
          - uid: uid
            classCode: classCode
            instrumentType: instrumentType
            ticker: ticker
            figi: figi
            links:
            - instrumentUid: instrumentUid
              type: type
            - instrumentUid: instrumentUid
              type: type
          name: name
        - uid: uid
          instruments:
          - uid: uid
            classCode: classCode
            instrumentType: instrumentType
            ticker: ticker
            figi: figi
            links:
            - instrumentUid: instrumentUid
              type: type
            - instrumentUid: instrumentUid
              type: type
          - uid: uid
            classCode: classCode
            instrumentType: instrumentType
            ticker: ticker
            figi: figi
            links:
            - instrumentUid: instrumentUid
              type: type
            - instrumentUid: instrumentUid
              type: type
          name: name
      properties:
        assets:
          items:
            $ref: '#/components/schemas/v1Asset'
          type: array
      type: object
    v1Bond:
      description: Объект передачи информации об облигации.
      example:
        figi: figi
        dshortMin:
          nano: 6
          units: units
        countryOfRisk: countryOfRisk
        lot: 0
        uid: uid
        dlong:
          nano: 6
          units: units
        nominal:
          nano: 5
          currency: currency
          units: units
        maturityDate: 2000-01-23T04:56:07.000+00:00
        sellAvailableFlag: true
        currency: currency
        placementPrice:
          nano: 5
          currency: currency
          units: units
        aciValue:
          nano: 5
          currency: currency
          units: units
        sector: sector
        buyAvailableFlag: true
        classCode: classCode
        ticker: ticker
        couponQuantityPerYear: 1
        apiTradeAvailableFlag: true
        dlongMin:
          nano: 6
          units: units
        shortEnabledFlag: true
        kshort:
          nano: 6
          units: units
        stateRegDate: 2000-01-23T04:56:07.000+00:00
        issueSizePlan: issueSizePlan
        minPriceIncrement:
          nano: 6
          units: units
        otcFlag: true
        klong:
          nano: 6
          units: units
        dshort:
          nano: 6
          units: units
        issueKind: issueKind
        placementDate: 2000-01-23T04:56:07.000+00:00
        amortizationFlag: true
        perpetualFlag: true
        name: name
        issueSize: issueSize
        exchange: exchange
        floatingCouponFlag: true
        countryOfRiskName: countryOfRiskName
        isin: isin
      properties:
        figi:
          type: string
        ticker:
          type: string
        classCode:
          type: string
        isin:
          type: string
        lot:
          format: int32
          type: integer
        currency:
          type: string
        klong:
          $ref: '#/components/schemas/v1Quotation'
        kshort:
          $ref: '#/components/schemas/v1Quotation'
        dlong:
          $ref: '#/components/schemas/v1Quotation'
        dshort:
          $ref: '#/components/schemas/v1Quotation'
        dlongMin:
          $ref: '#/components/schemas/v1Quotation'
        dshortMin:
          $ref: '#/components/schemas/v1Quotation'
        shortEnabledFlag:
          type: boolean
        name:
          type: string
        exchange:
          type: string
        couponQuantityPerYear:
          format: int32
          type: integer
        maturityDate:
          format: date-time
          type: string
        nominal:
          $ref: '#/components/schemas/v1MoneyValue'
        stateRegDate:
          format: date-time
          type: string
        placementDate:
          format: date-time
          type: string
        placementPrice:
          $ref: '#/components/schemas/v1MoneyValue'
        aciValue:
          $ref: '#/components/schemas/v1MoneyValue'
        countryOfRisk:
          type: string
        countryOfRiskName:
          type: string
        sector:
          type: string
        issueKind:
          type: string
        issueSize:
          format: int64
          type: string
        issueSizePlan:
          format: int64
          type: string
        tradingStatus:
          $ref: '#/components/schemas/v1SecurityTradingStatus'
        otcFlag:
          type: boolean
        buyAvailableFlag:
          type: boolean
        sellAvailableFlag:
          type: boolean
        floatingCouponFlag:
          type: boolean
        perpetualFlag:
          type: boolean
        amortizationFlag:
          type: boolean
        minPriceIncrement:
          $ref: '#/components/schemas/v1Quotation'
        apiTradeAvailableFlag:
          type: boolean
        uid:
          type: string
        realExchange:
          $ref: '#/components/schemas/v1RealExchange'
      type: object
    v1BondResponse:
      description: Информация об облигации.
      example:
        instrument:
          figi: figi
          dshortMin:
            nano: 6
            units: units
          countryOfRisk: countryOfRisk
          lot: 0
          uid: uid
          dlong:
            nano: 6
            units: units
          nominal:
            nano: 5
            currency: currency
            units: units
          maturityDate: 2000-01-23T04:56:07.000+00:00
          sellAvailableFlag: true
          currency: currency
          placementPrice:
            nano: 5
            currency: currency
            units: units
          aciValue:
            nano: 5
            currency: currency
            units: units
          sector: sector
          buyAvailableFlag: true
          classCode: classCode
          ticker: ticker
          couponQuantityPerYear: 1
          apiTradeAvailableFlag: true
          dlongMin:
            nano: 6
            units: units
          shortEnabledFlag: true
          kshort:
            nano: 6
            units: units
          stateRegDate: 2000-01-23T04:56:07.000+00:00
          issueSizePlan: issueSizePlan
          minPriceIncrement:
            nano: 6
            units: units
          otcFlag: true
          klong:
            nano: 6
            units: units
          dshort:
            nano: 6
            units: units
          issueKind: issueKind
          placementDate: 2000-01-23T04:56:07.000+00:00
          amortizationFlag: true
          perpetualFlag: true
          name: name
          issueSize: issueSize
          exchange: exchange
          floatingCouponFlag: true
          countryOfRiskName: countryOfRiskName
          isin: isin
      properties:
        instrument:
          $ref: '#/components/schemas/v1Bond'
      type: object
    v1BondsResponse:
      description: Список облигаций.
      example:
        instruments:
        - figi: figi
          dshortMin:
            nano: 6
            units: units
          countryOfRisk: countryOfRisk
          lot: 0
          uid: uid
          dlong:
            nano: 6
            units: units
          nominal:
            nano: 5
            currency: currency
            units: units
          maturityDate: 2000-01-23T04:56:07.000+00:00
          sellAvailableFlag: true
          currency: currency
          placementPrice:
            nano: 5
            currency: currency
            units: units
          aciValue:
            nano: 5
            currency: currency
            units: units
          sector: sector
          buyAvailableFlag: true
          classCode: classCode
          ticker: ticker
          couponQuantityPerYear: 1
          apiTradeAvailableFlag: true
          dlongMin:
            nano: 6
            units: units
          shortEnabledFlag: true
          kshort:
            nano: 6
            units: units
          stateRegDate: 2000-01-23T04:56:07.000+00:00
          issueSizePlan: issueSizePlan
          minPriceIncrement:
            nano: 6
            units: units
          otcFlag: true
          klong:
            nano: 6
            units: units
          dshort:
            nano: 6
            units: units
          issueKind: issueKind
          placementDate: 2000-01-23T04:56:07.000+00:00
          amortizationFlag: true
          perpetualFlag: true
          name: name
          issueSize: issueSize
          exchange: exchange
          floatingCouponFlag: true
          countryOfRiskName: countryOfRiskName
          isin: isin
        - figi: figi
          dshortMin:
            nano: 6
            units: units
          countryOfRisk: countryOfRisk
          lot: 0
          uid: uid
          dlong:
            nano: 6
            units: units
          nominal:
            nano: 5
            currency: currency
            units: units
          maturityDate: 2000-01-23T04:56:07.000+00:00
          sellAvailableFlag: true
          currency: currency
          placementPrice:
            nano: 5
            currency: currency
            units: units
          aciValue:
            nano: 5
            currency: currency
            units: units
          sector: sector
          buyAvailableFlag: true
          classCode: classCode
          ticker: ticker
          couponQuantityPerYear: 1
          apiTradeAvailableFlag: true
          dlongMin:
            nano: 6
            units: units
          shortEnabledFlag: true
          kshort:
            nano: 6
            units: units
          stateRegDate: 2000-01-23T04:56:07.000+00:00
          issueSizePlan: issueSizePlan
          minPriceIncrement:
            nano: 6
            units: units
          otcFlag: true
          klong:
            nano: 6
            units: units
          dshort:
            nano: 6
            units: units
          issueKind: issueKind
          placementDate: 2000-01-23T04:56:07.000+00:00
          amortizationFlag: true
          perpetualFlag: true
          name: name
          issueSize: issueSize
          exchange: exchange
          floatingCouponFlag: true
          countryOfRiskName: countryOfRiskName
          isin: isin
      properties:
        instruments:
          items:
            $ref: '#/components/schemas/v1Bond'
          type: array
      type: object
    v1Brand:
      description: Бренд.
      example:
        uid: uid
        name: name
        description: description
        company: company
        sector: sector
        countryOfRiskName: countryOfRiskName
        info: info
        countryOfRisk: countryOfRisk
      properties:
        uid:
          type: string
        name:
          type: string
        description:
          type: string
        info:
          type: string
        company:
          type: string
        sector:
          type: string
        countryOfRisk:
          type: string
        countryOfRiskName:
          type: string
      type: object
    v1BrokerReport:
      example:
        exchangeClearingCommission:
          nano: 5
          currency: currency
          units: units
        separateAgreementDate: separateAgreementDate
        orderId: orderId
        figi: figi
        executeSign: executeSign
        brokerCommission:
          nano: 5
          currency: currency
          units: units
        repoRate:
          nano: 6
          units: units
        orderAmount:
          nano: 5
          currency: currency
          units: units
        price:
          nano: 5
          currency: currency
          units: units
        aciValue:
          nano: 6
          units: units
        secValueDate: 2000-01-23T04:56:07.000+00:00
        direction: direction
        classCode: classCode
        ticker: ticker
        quantity: quantity
        deliveryType: deliveryType
        tradeDatetime: 2000-01-23T04:56:07.000+00:00
        exchangeCommission:
          nano: 5
          currency: currency
          units: units
        brokerStatus: brokerStatus
        totalOrderAmount:
          nano: 5
          currency: currency
          units: units
        separateAgreementNumber: separateAgreementNumber
        clearValueDate: 2000-01-23T04:56:07.000+00:00
        name: name
        exchange: exchange
        separateAgreementType: separateAgreementType
        tradeId: tradeId
        party: party
      properties:
        tradeId:
          type: string
        orderId:
          type: string
        figi:
          type: string
        executeSign:
          type: string
        tradeDatetime:
          format: date-time
          type: string
        exchange:
          type: string
        classCode:
          type: string
        direction:
          type: string
        name:
          type: string
        ticker:
          type: string
        price:
          $ref: '#/components/schemas/v1MoneyValue'
        quantity:
          format: int64
          type: string
        orderAmount:
          $ref: '#/components/schemas/v1MoneyValue'
        aciValue:
          $ref: '#/components/schemas/v1Quotation'
        totalOrderAmount:
          $ref: '#/components/schemas/v1MoneyValue'
        brokerCommission:
          $ref: '#/components/schemas/v1MoneyValue'
        exchangeCommission:
          $ref: '#/components/schemas/v1MoneyValue'
        exchangeClearingCommission:
          $ref: '#/components/schemas/v1MoneyValue'
        repoRate:
          $ref: '#/components/schemas/v1Quotation'
        party:
          type: string
        clearValueDate:
          format: date-time
          type: string
        secValueDate:
          format: date-time
          type: string
        brokerStatus:
          type: string
        separateAgreementType:
          type: string
        separateAgreementNumber:
          type: string
        separateAgreementDate:
          type: string
        deliveryType:
          type: string
      type: object
    v1BrokerReportRequest:
      properties:
        generateBrokerReportRequest:
          $ref: '#/components/schemas/v1GenerateBrokerReportRequest'
        getBrokerReportRequest:
          $ref: '#/components/schemas/v1GetBrokerReportRequest'
      type: object
    v1BrokerReportResponse:
      example:
        generateBrokerReportResponse:
          taskId: taskId
        getBrokerReportResponse:
          brokerReport:
          - exchangeClearingCommission:
              nano: 5
              currency: currency
              units: units
            separateAgreementDate: separateAgreementDate
            orderId: orderId
            figi: figi
            executeSign: executeSign
            brokerCommission:
              nano: 5
              currency: currency
              units: units
            repoRate:
              nano: 6
              units: units
            orderAmount:
              nano: 5
              currency: currency
              units: units
            price:
              nano: 5
              currency: currency
              units: units
            aciValue:
              nano: 6
              units: units
            secValueDate: 2000-01-23T04:56:07.000+00:00
            direction: direction
            classCode: classCode
            ticker: ticker
            quantity: quantity
            deliveryType: deliveryType
            tradeDatetime: 2000-01-23T04:56:07.000+00:00
            exchangeCommission:
              nano: 5
              currency: currency
              units: units
            brokerStatus: brokerStatus
            totalOrderAmount:
              nano: 5
              currency: currency
              units: units
            separateAgreementNumber: separateAgreementNumber
            clearValueDate: 2000-01-23T04:56:07.000+00:00
            name: name
            exchange: exchange
            separateAgreementType: separateAgreementType
            tradeId: tradeId
            party: party
          - exchangeClearingCommission:
              nano: 5
              currency: currency
              units: units
            separateAgreementDate: separateAgreementDate
            orderId: orderId
            figi: figi
            executeSign: executeSign
            brokerCommission:
              nano: 5
              currency: currency
              units: units
            repoRate:
              nano: 6
              units: units
            orderAmount:
              nano: 5
              currency: currency
              units: units
            price:
              nano: 5
              currency: currency
              units: units
            aciValue:
              nano: 6
              units: units
            secValueDate: 2000-01-23T04:56:07.000+00:00
            direction: direction
            classCode: classCode
            ticker: ticker
            quantity: quantity
            deliveryType: deliveryType
            tradeDatetime: 2000-01-23T04:56:07.000+00:00
            exchangeCommission:
              nano: 5
              currency: currency
              units: units
            brokerStatus: brokerStatus
            totalOrderAmount:
              nano: 5
              currency: currency
              units: units
            separateAgreementNumber: separateAgreementNumber
            clearValueDate: 2000-01-23T04:56:07.000+00:00
            name: name
            exchange: exchange
            separateAgreementType: separateAgreementType
            tradeId: tradeId
            party: party
          pagesCount: 6
          page: 1
          itemsCount: 0
      properties:
        generateBrokerReportResponse:
          $ref: '#/components/schemas/v1GenerateBrokerReportResponse'
        getBrokerReportResponse:
          $ref: '#/components/schemas/v1GetBrokerReportResponse'
      type: object
    v1CancelOrderRequest:
      description: Запрос отмены торгового поручения.
      properties:
        accountId:
          type: string
        orderId:
          type: string
      type: object
    v1CancelOrderResponse:
      description: Результат отмены торгового поручения.
      example:
        time: 2000-01-23T04:56:07.000+00:00
      properties:
        time:
          format: date-time
          type: string
      type: object
    v1CancelStopOrderRequest:
      description: Запрос отмены выставленной стоп-заявки.
      properties:
        accountId:
          type: string
        stopOrderId:
          type: string
      type: object
    v1CancelStopOrderResponse:
      description: Результат отмены выставленной стоп-заявки.
      example:
        time: 2000-01-23T04:56:07.000+00:00
      properties:
        time:
          format: date-time
          type: string
      type: object
    v1CandleInterval:
      default: CANDLE_INTERVAL_UNSPECIFIED
      description: Интервал свечей.
      enum:
      - CANDLE_INTERVAL_UNSPECIFIED
      - CANDLE_INTERVAL_1_MIN
      - CANDLE_INTERVAL_5_MIN
      - CANDLE_INTERVAL_15_MIN
      - CANDLE_INTERVAL_HOUR
      - CANDLE_INTERVAL_DAY
      type: string
    v1CloseSandboxAccountRequest:
      description: Запрос закрытия счёта в песочнице.
      properties:
        accountId:
          type: string
      type: object
    v1CloseSandboxAccountResponse:
      description: Результат закрытия счёта в песочнице.
      type: object
    v1Coupon:
      description: Объект передачи информации о купоне облигации.
      example:
        fixDate: 2000-01-23T04:56:07.000+00:00
        couponPeriod: 0
        couponNumber: couponNumber
        couponEndDate: 2000-01-23T04:56:07.000+00:00
        figi: figi
        couponDate: 2000-01-23T04:56:07.000+00:00
        couponStartDate: 2000-01-23T04:56:07.000+00:00
        payOneBond:
          nano: 5
          currency: currency
          units: units
      properties:
        figi:
          type: string
        couponDate:
          format: date-time
          type: string
        couponNumber:
          format: int64
          type: string
        fixDate:
          format: date-time
          type: string
        payOneBond:
          $ref: '#/components/schemas/v1MoneyValue'
        couponType:
          $ref: '#/components/schemas/v1CouponType'
        couponStartDate:
          format: date-time
          type: string
        couponEndDate:
          format: date-time
          type: string
        couponPeriod:
          format: int32
          type: integer
      type: object
    v1CouponType:
      default: COUPON_TYPE_UNSPECIFIED
      description: Тип купонов.
      enum:
      - COUPON_TYPE_UNSPECIFIED
      - COUPON_TYPE_CONSTANT
      - COUPON_TYPE_FLOATING
      - COUPON_TYPE_DISCOUNT
      - COUPON_TYPE_MORTGAGE
      - COUPON_TYPE_FIX
      - COUPON_TYPE_VARIABLE
      - COUPON_TYPE_OTHER
      type: string
    v1CurrenciesResponse:
      description: Данные по валютам.
      example:
        instruments:
        - isoCurrencyName: isoCurrencyName
          figi: figi
          dshortMin:
            nano: 6
            units: units
          countryOfRisk: countryOfRisk
          lot: 0
          uid: uid
          dlong:
            nano: 6
            units: units
          nominal:
            nano: 5
            currency: currency
            units: units
          sellAvailableFlag: true
          currency: currency
          buyAvailableFlag: true
          classCode: classCode
          ticker: ticker
          apiTradeAvailableFlag: true
          dlongMin:
            nano: 6
            units: units
          shortEnabledFlag: true
          kshort:
            nano: 6
            units: units
          minPriceIncrement:
            nano: 6
            units: units
          otcFlag: true
          klong:
            nano: 6
            units: units
          dshort:
            nano: 6
            units: units
          name: name
          exchange: exchange
[...]
